fastapi
uvicorn
python-dotenv
ibm-watson-machine-learning
llama_index
llama-index-core
llama-index-embeddings-ibm
llama-index-embeddings-huggingface
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-ibm
llama-index-llms-watsonx
llama-index-readers-llama-parse
llama-parse
llamaindex-py-client
pydantic
pydantic-core
ibm-cos-sdk
ibm_cloud_sdk_core
ibm_watson
huggingface-hub
nest-asyncio
async-lru
requests
llama-index-vector-stores-elasticsearch
llama-index-embeddings-elasticsearch
elasticsearch
elasticsearch-async
pybase64
