chromadb==0.5.18
elasticsearch==8.15.1
fastapi==0.115.4
ibm-watson==8.1.0
ibm_watson_machine_learning==1.0.366
llama-index-core==0.10.68.post1
llama-index-vector-stores-chroma==0.1.10
llama-index-embeddings-huggingface==0.2.3
llama-index-llms-ibm==0.1.0
llama-index-llms-watsonx==0.1.8
nltk==3.9.1
sentence-transformers==3.2.1
torch==2.5.1
transformers==4.46.2
uvicorn==0.32.0
