langchain==0.3.8
langchain-ibm==0.3.4
langchain-chroma == 0.1.4
ibm_watsonx_ai == 1.1.22
elasticsearch==8.15.1
fastapi==0.115.4
uvicorn==0.32.0
python-dotenv==1.0.1
ibm-watson==8.1.0
tiktoken == 0.8.0
